.toggle_button {
    background-color: transparent;
    border: none;
}

.toggle_button:hover {
    background-color: transparent;
    color: var(--header-orange);
    border-color: transparent;
}

.toggle_button:focus {
    background-color: transparent;
}

.toggle_button:active {
    background-color: transparent;
    border-color: transparent;
}

.toggle_button:active {
    background-color: transparent;
    border-color: transparent;
}
