.modal_container {
    .modal_header {
        .modal_title {
            font-weight: bold;
        }
    }

    .modal_body {
        background-color: var(--main-gray);

        border-radius: 0 0 0.5rem 0.5rem;

        .modal_form {
            display: grid;
            place-content: center;
            padding: 1rem;

            .input_price_group {
                display: flex;
                align-items: center;

                span {
                    background-color: var(--header-blue);
                    color: var(--white);
                    width: 3rem;
                    padding: 0.52rem;
                    border-radius: 0 0 0 0.5rem;
                    position: fixed;
                    text-align: center;

                    display: flex;
                    align-items: center;
                }

                input {
                    width: 100%;
                }
            }
        }

        label {
            background-color: var(--header-blue);
            color: var(--white);

            margin-top: 1rem;
            border-radius: 0.5rem 0.5rem 0 0;

            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
        }

        input {
            width: auto;
            padding: 0.5rem;
            border: 1px solid var(--header-blue);
            border-radius: 0 0 0.5rem 0.5rem;

            text-align: center;
        }

        input::placeholder {
            text-align: center;
        }

        input:focus {
            outline: none;
            border: 1px solid var(--header-orange);
        }

        .modal_footer {
            margin-top: 2rem;

            .close_modal_button,
            .create_item_button {
                padding: 0.6rem 1.4rem;
            }
        }
    }
}
