.favorite_container {
    margin: auto;
    width: 90%;
    margin-top: 2rem;

    .favorite_content {
        background-color: var(--main-gray);

        margin: 2rem auto 0;
        height: 30rem;
        border-radius: 0.5rem;
    }
}
