@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

:root {
  --header-blue: #17223e;
  --header-orange: #d32811;
  --main-gray: #f3f5f9;
  --details-purple: #9765d8;
  --white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Inter", sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}
