.navbar_products {
  background-color: var(--header-blue);

  border-bottom: 1px solid rgba(255, 255, 255, 0.252);
  height: 10rem;

  .container_products {
    h2 {
      color: var(--white);
      font-weight: bold;
    }

    .input_container {
      background-color: var(--white);
      padding: 0 0.5rem;
      border-radius: 0.5rem;

      display: flex;
      align-items: center;

      .search_icon {
        color: #99a0b07d;
        margin-right: 0.5rem;
        height: 1.3rem;
        width: 1.3rem;
      }

      input {
        border: none;
        color: var(--header-blue);

        height: 3.12rem;
        width: 26.6rem;
      }

      input::placeholder {
        color: #99a0b0;
      }

      input:focus {
        outline: none;
      }
    }
  }
}

.navbar_buttons {
  @extend .navbar_products;

  height: 5rem;

  .container_buttons {
    .left_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 10rem;
    }

    .home_button,
    .favorite_button,
    button {
      padding: 0.4rem;
      border: none;
      text-align: center;

      color: var(--white);
      background-color: var(--header-orange);
      border-radius: 0.5rem;
    }

    .home_button_unselected,
    .favorite_button_unselected {
      background-color: #d3281180;
    }

    button:disabled {
      background-color: rgba(211, 40, 17, 0.5);
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
  margin-top: 2rem;
}

// MEDIA_________________________________________________________________________________________________________
@media screen and (width: 1024px) and (height: 1366px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 80%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  .main {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (width: 834px) and (height: 1194px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 80%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  .main {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (max-width: 820px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 80%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (width: 810px) and (height: 1080px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 80%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 80%;
      }
    }
  }

  .main {
    margin: 2rem auto 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (width: 360px) and (height: 800px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 70%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 70%;
      }
    }
  }

  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (width: 360px) and (height: 760px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 70%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 70%;
      }
    }
  }

  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (width: 360px) and (height: 740px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        width: 70%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 70%;
      }
    }
  }

  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}

@media screen and (width: 320px) and (height: 568px) {
  .navbar_products {
    width: 100%;

    .container_products {
      display: grid;
      place-content: center;

      h2 {
        font-size: 1.2rem;
        width: 60%;
        margin: 0 auto 1rem;
      }

      .input_container {
        margin: 0 auto;
        width: 60%;
      }
    }
  }

  .main {
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 99%;
  }
}
