.navbar_products {
  background-color: var(--header-blue);

  border-bottom: 1px solid rgba(255, 255, 255, 0.252);
  height: 10rem;

  .container_products {
    h2 {
      color: var(--white);
      font-weight: bold;
    }

    .input_container {
      background-color: var(--white);
      padding: 0 0.5rem;
      border-radius: 0.5rem;

      display: flex;
      align-items: center;

      .search_icon {
        color: #99a0b07d;
        margin-right: 0.5rem;
        height: 1.3rem;
        width: 1.3rem;
      }

      input {
        border: none;
        color: var(--header-blue);

        height: 3.12rem;
        width: 26.6rem;
      }

      input::placeholder {
        color: #99a0b0;
      }

      input:focus {
        outline: none;
      }
    }
  }
}

.navbar_buttons {
  @extend .navbar_products;

  height: 5rem;

  .container_buttons {
    .left_buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 10rem;
    }

    .home_button,
    .favorite_button,
    button {
      padding: 0.4rem;
      border: none;
      text-align: center;

      color: var(--white);
      background-color: var(--header-orange);
      border-radius: 0.5rem;
    }

    .home_button_unselected,
    .favorite_button_unselected {
      background-color: #d3281180;
    }

    button:disabled {
      background-color: rgba(211, 40, 17, 0.5);
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 5fr;
  min-height: 100vh;
  margin-top: 2rem;
}
